.Orderbook {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr 1fr;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.8);
  padding: 10px;
  border-radius: 5px;
  color: white;
  position: relative;
  border: 1px solid white;
}

.title {
  grid-column: 1 / -1;
  border-bottom: 1px solid;
}

.sell,
.buy {
  align-self: flex-start;
}

.red {
  color: rgb(222, 82, 82);
}

.green {
  color: rgb(0, 127, 0);
}

.count,
.amount,
.total,
.price {
  width: 25%;
  border-bottom: 1px solid;
}

.buy .depth,
.sell .depth {
  background: rgba(255, 255, 255, 0);
}

.precisionSelector {
  position: absolute;
  top: 10px;
  left: 10px;
}

@media (min-width: 600px) {
  .Orderbook {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 1fr;
    gap: 15px;
  }
}
