.main,
.title {
  text-align: center;
  margin: 10px;
}

.title {
  text-shadow: 2px 2px 3px rgba(#fff, 0.4), -2px -2px 3px rgba(#fff, 0.4);
}

.main {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

@media (min-width: 1024px) {
  .main {
    display: grid;
    gap: 10px;
    grid-template-columns: 65% auto;
  }
}
