.main,
.title {
  text-align: center;
  margin: 10px;
}

.main {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
}

@media (min-width: 1024px) {
  .main {
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(2, auto);
  }
}
